<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- This package feed is temporary until Microsoft.CodeAnalysis.Workspaces.MSBuild is released on https://nuget.org. -->
        <add key="Roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>